@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html,
body,
#root{
  width:100%;
  height:100%;
}

body{
  font-family: Inter, sans-serif;
  background:#F7F8FC;
  color:#111827;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#d5d5d5;
  border-radius:20px;
}